<!DOCTYPE html>
<html>

<head>
    <title>NGL- Sent!</title>
    <link rel="stylesheet" href="{{ url_for('static',
            filename='style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',
            filename='normalize.css')}}">
    <link<script name="user:language">
        <meta property="og:image">
        <meta property="og:title" content="@undefined: Send me anonymous
        messages!">
        <meta property="og:description" content="NGL: Anonymous
        Q&amp;A">
        <meta name="twitter:card" content="summary_large_image">
        <meta< /head>

<body>
    <style>
        html {
            background: linear-gradient(to bottom right, #EC1187 0%, #FF8D10 100%);
            background-attachment: fixed;
        }
    </style>
    <div class="container">
        <div class="navbar"><a class="another1" href="javascript:history.back()"><img
                    src="{{ url_for('static', filename='left.png')}}" width="24" height="24"></a></div>
        <div class="space1"></div><img class="check" src="{{ url_for('static', filename='sent.png')}}">
        <div class="space2"></div>
        <h1 class="sent">Sent!</h1>
        <div class="space4"></div>
        <h2 class="download-prompt">👇 <span class="clickCount" id="randomNumber">100</span>people just tapped the button 👇 </h2>
        <script>document.getElementById("randomNumber").textContent = Math.floor(Math.random() * (300 - 100 + 1)) + 100;</script>
        <div class="space2"></div><a class="button button-white boost" style="margin-bottom: 16px">Boost your message! 🚀</a>
        <a class="button download-linkdownload-link2" href="https://apps.apple.com/us/app/ngl-anonymous-q-a/id1596550932?ppid=543cb167-5bdc-448f-a202-e5506f5d2837" target="_blank">Get your own messages!</a>
        <div class="space2"></div><a class="another another1" href="javascript:history.back()" >Send another message</a>
    </div>
    </div>
</body>

</html>