<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>NGL @simran_deyy</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css')}}">
  <link content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="user:language" content="en">
  <meta property="og:image" property="og:title" content="@simran_deyy: Send me anonymous messages!">
  <meta property="og:description" content="NGL: Anonymous Q&amp;A">
  <meta< /head>

<body>
  <div class="container" style="z-index: 1000; position: relative">
    <form class="form" method="post">
      <div class="bubble">
        <div class="header">
          <div class="pfp-container"><img class="pfp" src="{{ url_for('static', filename='image.png')}}"></div>
          <div class="user-container">
            <div class="username">@simran_deyy</div>
            <div class="prompt">Send me anonymous messages!</div>
          </div>
        </div>
        <div class="textarea-container"><textarea placeholder="send me anonymous messages..." name="question"
            autocomplete="off" maxlength="500" id="question"></textarea></div>
        <div class="anonymous-tooltip">🔒 anonymous q&amp;a</div><a href="/run_ngl_code"><button class="submit"
            type="submit" id="submit" style="display:block;
              transform:
              translateZ(0px); z-index: 1000">Send!</button></a>
    </form>
  </div>
</body>

</html>
